body {
  font-family: "Palantino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  color: #0c1620;
}

.container {
  width: 1250px;
  margin: 1em auto;
}

img {
  width: 20%;
}

.map {
	width: 700px;
	height: 500px;
	background-color: #333;
}

[class*="copyrights-pane"] {
	display: none !important;
}

.balloon__address {
	color: yellow;
}

.balloon a {
	color: red;
}

[class*="balloon__close-button"] {
	opacity: 1;
}